<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pierwszy projekt springowy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>
    <span th:text="${x}">5</span> <span th:text="${action}">*</span><span th:text="${y}">20</span> = <span th:text="${z}">100</span> 
</p>
    </body>
</html>
